# compiled output
/dist 
/dist/*
*.tsbuildinfo 
/node_modules
/build
   
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
dist/tsconfig.build.tsbuildinfo
dist/app.config.d.ts
dist/app.config.js
dist/app.config.js.map
dist/app.controller.d.ts
dist/app.controller.js
dist/app.module.d.ts
dist/app.module.js
dist/app.module.js.map
dist/app.service.d.ts
dist/app.service.js
dist/main.d.ts
dist/main.js
dist/main.js.map
dist/auth/auth.controller.d.ts
dist/auth/auth.controller.js
dist/auth/auth.guard.d.ts
dist/auth/auth.guard.js
dist/auth/auth.module.d.ts
dist/auth/auth.module.js
dist/auth/auth.service.d.ts
dist/auth/auth.service.js
dist/chanmsg/chanmsg.controller.d.ts
dist/chanmsg/chanmsg.controller.js
dist/chanmsg/chanmsg.entity.d.ts
dist/chanmsg/chanmsg.entity.js
dist/chanmsg/chanmsg.module.d.ts
dist/chanmsg/chanmsg.module.js
dist/chanmsg/chanmsg.service.d.ts
dist/chanmsg/chanmsg.service.js
dist/common/common.d.ts
dist/common/common.js
dist/common/http-exception.filter.d.ts
dist/common/http-exception.filter.js
dist/common/logger.middleware.d.ts
dist/common/logger.middleware.js
dist/common/resjson.d.ts
dist/common/resjson.js
dist/common/unauth.decorator.d.ts
dist/common/unauth.decorator.js
dist/common/winston.util.d.ts
dist/common/winston.util.js
dist/mail/mail.controller.d.ts
dist/mail/mail.controller.js
dist/mail/mail.module.d.ts
dist/mail/mail.module.js
dist/mail/mail.service.d.ts
dist/mail/mail.service.js
dist/menu/menu.controller.d.ts
dist/menu/menu.controller.js
dist/menu/menu.entity.d.ts
dist/menu/menu.entity.js
dist/menu/menu.module.d.ts
dist/menu/menu.module.js
dist/menu/menu.service.d.ts
dist/menu/menu.service.js
dist/user/user.controller.d.ts
dist/user/user.controller.js
dist/user/user.entity.d.ts
dist/user/user.entity.js
dist/user/user.module.d.ts
dist/user/user.module.js
dist/user/user.service.d.ts
dist/user/user.service.js
